<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if .Title }}{{ .Title }}&nbsp;|&nbsp;{{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ "css/pico.min.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}" />

    <script type="module" src="{{ "js/colorMode.js" | relURL }}" defer></script>
  </head>
  <body>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>

{{ `<!--
  * * * * * * * * * * * * * *
  *     ------              *
  *    | Purr |             *
  *     ------              *
  *    |       __           *
  *    \  ____/ /__    __   *
  *   ___/ *       \__/ /   *
  *  {____  _________  |    *
  *       \_\        \_\    *
  * * * * * * * * * * * * * *
  -->` | safeHTML
}}
