<hr />
<footer class="container">
  <section>
    <p class="text-center" role="heading" aria-level="2">
      <strong>Connect with me</strong>
    </p>
    <ul class="flex justify-center gap-03 p-0">
      {{ range $socialConnection := .Site.Params.socialConnections }}
        <li class="list-none">
          <a href="{{ $socialConnection.link }}" target="_blank">
            <picture>
              <source srcset="{{ $socialConnection.imgSrcDark | relURL }}" media="(prefers-color-scheme: dark)" />
              <img
                src="{{ $socialConnection.imgSrcLight | relURL }}"
                alt="{{ $socialConnection.name }}"
                width="32"
                height="32"
              />
            </picture>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>

  <section>
    <p class="text-center" role="heading" aria-level="2">
      <strong>Legal</strong>
    </p>
    <ul class="flex justify-center gap-03 p-0">
      {{ $legalMenuItemsLength := len .Site.Menus.legal }}
      {{ range $index, $menuItem := .Site.Menus.legal }}
        <li class="list-none">
          <a href="{{ $menuItem.URL }}">
            {{ $menuItem.Name }}
          </a>
        </li>
        {{ if lt (add $index 1) $legalMenuItemsLength }}
          <li class="list-none">&middot;</li>
        {{ end }}
      {{ end }}
    </ul>
  </section>

  <section class="flex justify-center text-center">
    <small>&copy; {{ now.Year }} {{ .Site.Params.author }}</small>
  </section>
</footer>
