<p class="overflow-hidden text-ellipsis whitespace-nowrap">
  <small>Published on</small>
  <time datetime="{{ .Date.Format .Site.Params.fmt.dateISO }}" title="{{ .Date.Format .Site.Params.fmt.dateTime }}">
    <small>{{ .Date.Format .Site.Params.fmt.date }}</small>
  </time>
  &middot;
  {{ if and .Lastmod (gt .Lastmod .Date) }}
    <small>Edited on</small>
    <time datetime="{{ .Date.Format .Site.Params.fmt.dateISO }}" title="{{ .Date.Format .Site.Params.fmt.dateTime }}">
      <small>{{ .Date.Format .Site.Params.fmt.date }}</small>
    </time>
    &middot;
  {{ end }}


  <small>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }} reading time</small>
</p>
